{% assign trans = site.data.values[site.lan] %}
<h1>{{ trans.links }}</h1>
<ul>
  <!-- <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li> -->
  {% for link in site.data.links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>
  <li>
    <a href="//www.bluehost.com/track/jlmolero/blog" target="_blank">
                        <img border="0" src="//bluehost-cdn.com/media/partner/images/jlmolero/120x90/120x90BW.png">
                        </a>
                    
  </li>

  {% endfor %}
</ul>
