{% assign trans = site.data.values[site.lan] %}
<h1>{{ trans.links }}</h1>

<a href="//www.bluehost.com/track/jlmolero/" target="_blank">
<img border="0" src="//bluehost-cdn.com/media/partner/images/jlmolero/160x40/160x40PW.png">
</a>



<!--
<ul>
  <li><a href="#">One</a></li>
  <li><a href="#">Two</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>

  {% for link in site.data.links %}
  <li>
    <a href="{{ link.url }}">
      {{ link.title }}
    </a>
  </li>

  {% endfor %}
</ul>
-->
